<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235769463413-rmm4avspdmq41dc64vokdgmtrsi7r7ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235769463413-rmm4avspdmq41dc64vokdgmtrsi7r7ec</string>
	<key>API_KEY</key>
	<string>AIzaSyDxXBZoNq-upvtLK2mSC28215KGpy3gDuc</string>
	<key>GCM_SENDER_ID</key>
	<string>235769463413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khang.nguyen.AppLuk</string>
	<key>PROJECT_ID</key>
	<string>blessed-by-knowledge-33707</string>
	<key>STORAGE_BUCKET</key>
	<string>blessed-by-knowledge-33707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:235769463413:ios:057ebd80d0898f7f136e3c</string>
</dict>
</plist>
